<span class="resources-search-wrapper">
  {{input
    type="text"
    value=(readonly searchTerm)
    input=(action "onSearchTermChange" value="target.value")
    class="no-blur resources-search-bar"
    autocorrect="off"
    placeholder=(i18n "resources.search.placeholder")
    autocapitalize="off"
  }}

  {{#if searchTerm}}
    {{d-button action=(action "clearSearch") class="clear-search" label="resources.search.clear"}}
  {{else}}
    {{d-icon "search"}}
  {{/if}}
</span>
