.mobile-view {
  .resources {
    .resources-search-wrapper {
      display: flex;
      justify-content: center;
    }

    .resources-search {
      font-size: $font-up-2;
      padding: 0.5em 0;

      .resources-search-bar {
        width: calc(100vw - 2em);
      }
    }
    .resources-browse {
      padding-bottom: 60px; // for DiscourseHub footer nav
      .resources-items {
        padding-right: 0;
      }
      flex-direction: column;
      .resources-results .result-count {
        padding-left: 0;
      }
      .resources-topic-list {
        flex-basis: 100%;
      }
      .resources-topic-link {
        padding-right: 0.25em;
      }
      .loading-container {
        padding: 0.625em 0;
      }
      .resources-topic {
        width: calc(100vw - 20px);
      }
    }
  }

  .resources-filters {
    margin-top: 0;
    background: var(--primary-very-low);
    padding: 0 0.5em;
    .resources-items:first-of-type {
      margin-top: 1em;
    }
    + .resources-results {
      margin-top: 2em;
    }
  }

  .archetype-resources-topic {
    .resources-filters {
      display: none;
    }
  }

  .resources-expander {
    margin: 1em 0 0 0;
    width: 100%;
  }
}
